# Windows files
*.exe
*.dll
*.lnk
NTUSER.*
Thumbs.db
desktop.ini

# System folders
/Application Data/
/Cookies/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/VirtualBox VMs/
/Saved Games/
/Searches/
/Videos/
/AppData/
